
<style type = "text/css">
    .tg {border-collapse:collapse;
         border-spacing:0;
    }
    .tg td{font-family:Arial, sans-serif;
           font-size:14px;
           padding:10px 5px;
           border-style:solid;
           border-width:1px;
           overflow:hidden;
           word-break:normal;
    }
    .tg th{font-family:Arial, sans-serif;
           font-size:14px;
           font-weight:normal;
           padding:10px 5px;
           border-style:solid;
           border-width:1px;
           overflow:hidden;
           word-break:normal;
    }
    .tg .tg-s6z2{text-align:center}
</style>


<table class = "tg">
    <tr>
        <th class = "tg-031e">AREA:</th>
        <th class = "tg-s6z2" colspan = "18">PRIMER BIMESTRE</th>
    </tr>
    <tr>
        <td class = "tg-031e">CURSO:</td>
        <td class = "tg-s6z2" colspan = "3" rowspan = "2">RAZONAMIENTO Y<br>DEMOSTRACION</td>
        <td class = "tg-s6z2" rowspan = "4">P<br>R<br>O<br>M<br>E<br>D<br>I<br>O</td>
        <td class = "tg-s6z2" colspan = "3" rowspan = "2">COMUNICACIÓN <br>MATEMATICA</td>
        <td class = "tg-031e" rowspan = "4">P<br>R<br>O<br>M<br>E<br>D<br>I<br>O</td>
        <td class = "tg-031e" colspan = "3" rowspan = "2">RESOLUCIÓN <br>DE<br>PROBLEMAS</td>
        <td class = "tg-031e" rowspan = "4"><br><br>P<br>R<br>O<br>M<br>E<br>D<br>I<br>O</td>
        <td class = "tg-031e" colspan = "4" rowspan = "2">ACTITUD</td>
        <td class = "tg-031e" rowspan = "4">P<br>R<br>O<br>M<br>E<br>D<br>I<br>O</td>
        <td class = "tg-031e" rowspan = "4">P<br>R<br>O<br>M<br>E<br>D<br>I<br>O<br><br>B<br>I<br>M<br>E<br>S<br>T<br>R<br>E</td>
    </tr>
    <tr>
        <td class = "tg-031e">GRADO:</td>
    </tr>
    <tr>
        <td class = "tg-031e">NIVEL:</td>
        <td class = "tg-s6z2" rowspan = "2">P<br>C<br>E</td>
        <td class = "tg-s6z2" rowspan = "2">E<br>x.<br><br>P<br>a<br>r<br>c<br>i<br>a<br>l</td>
        <td class = "tg-s6z2" rowspan = "2">E<br>x.<br><br>B<br>i<br>m<br>e<br>s<br>t<br>r<br>a<br>l</td>
        <td class = "tg-031e" rowspan = "2">E<br>x.<br><br>O<br>r<br>a<br>l</td>
        <td class = "tg-031e" rowspan = "2">E<br>x.<br><br>P<br>a<br>r<br>c<br>i<br>a<br>l</td>
        <td class = "tg-031e" rowspan = "2">E<br>x.<br><br>B<br>i<br>m<br>e<br>s<br>t<br>r<br>a<br>l</td>
        <td class = "tg-031e" rowspan = "2">C<br>u<br>a<br>d<br>e<br>r<br>n<br>o</td>
        <td class = "tg-031e" rowspan = "2">E<br>x.<br><br>P<br>a<br>r<br>c<br>i<br>a<br>l</td>
        <td class = "tg-031e" rowspan = "2">E<br>x.<br><br>B<br>i<br>m<br>es<br>t<br>r<br>a<br>l<br></td>
        <td class = "tg-031e" rowspan = "2">P<br>r<br>e<br>s<br>e<br>n<br>t<br>a<br>c<br>i<br>o<br>n</td>
        <td class = "tg-031e" rowspan = "2">P<br>u<br>n<br>t<br>u<br>a<br>l<br>i<br>d<br>a<br>d</td>
        <td class = "tg-031e" rowspan = "2">R<br>e<br>s<br>p<br>e<br>t<br>o</td>
        <td class = "tg-031e" rowspan = "2">I<br>n<br>i<br>c<br>i<br>a<br>t<br>i<br>v<br>a</td>
    </tr>
    <tr>
        <td class = "tg-031e">APELLIDOS Y NOMBRES</td>
    </tr>
    <tr>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
    </tr>
    <tr>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
    </tr>
    <tr>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
        <td class = "tg-031e"></td>
    </tr>
</table>